@mixin NoDisponible{
  display: inline-block;
  position: absolute;
  color:#B71C1C ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: .5px  solid #B71C1C;
  border-radius: 10px;
  padding: 1em 2em;
  box-shadow: 1px 1px  10px #B71C1C;
}


@mixin P320_Figura{
  height: $tamanofiguraP320;
  width: $tamanofiguraP320;
  border-top: solid $tamanofigurapxP320 #fff3e0;
  border-left: $tamanofigurapxP320 solid #fff3e0;
  border-right: $tamanofigurapxP320 solid #fff3e0;
  &:after{
    min-height: $tamanofiguraP320/ 3;
    min-width:  $tamanofiguraP320 / 3;
  }
}

@mixin P480_Figura{
  height: $tamanofiguraP480;
  width: $tamanofiguraP480;
  border-top: solid $tamanofigurapxP480 #fff3e0;
  border-left: $tamanofigurapxP480 solid #fff3e0;
  border-right: $tamanofigurapxP480 solid #fff3e0;
  &:after{
    min-height: $tamanofiguraP480/ 3;
    min-width:  $tamanofiguraP480 / 3;
  }
}

@mixin Psup_Figura{
  height: $tamanofiguraP600;
  width: $tamanofiguraP600;
  border-top: solid $tamanofigurapxP600 #fff3e0;
  border-left: $tamanofigurapxP600 solid #fff3e0;
  border-right: $tamanofigurapxP600 solid #fff3e0;
  &:after{
    min-height: $tamanofiguraP600/ 3;
    min-width:  $tamanofiguraP600 / 3;
  }
}


