.contenedor
    .area
        .CentroV
            h1.texto TiendiTual es...
            .contFug
                .c: .figura
                .c: .linea
                .c: p.texto2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et lacus eu urna auctor maximus. Aenean purus turpis, vehicula a dolor eget, aliquam finibus ex. Cras at lorem nisi.

.NoDisponible
    img.ImagenNoDisponible(src="./img/Res/Usererror.svg")
    p.Nodisponible La resolución de su pantalla no es la adecuada para usar TiendiTual
