/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:11
  	*/
@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"), url("./Flaticon.woff") format("woff"), url("./Flaticon.ttf") format("truetype"), url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg"); } }

/* line 23, src-TT/Sass/flaticon.scss */
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 1em;
  font-style: normal;
  margin-left: 20px; }

/* line 31, src-TT/Sass/flaticon.scss */
.flaticon-add-alarm-button:before {
  content: "\f100"; }

/* line 32, src-TT/Sass/flaticon.scss */
.flaticon-add-button-inside-black-circle:before {
  content: "\f101"; }

/* line 33, src-TT/Sass/flaticon.scss */
.flaticon-add-comment-button:before {
  content: "\f102"; }

/* line 34, src-TT/Sass/flaticon.scss */
.flaticon-add-label-button:before {
  content: "\f103"; }

/* line 35, src-TT/Sass/flaticon.scss */
.flaticon-add-plus-button:before {
  content: "\f104"; }

/* line 36, src-TT/Sass/flaticon.scss */
.flaticon-add-to-queue-button:before {
  content: "\f105"; }

/* line 37, src-TT/Sass/flaticon.scss */
.flaticon-add-user-button:before {
  content: "\f106"; }

/* line 38, src-TT/Sass/flaticon.scss */
.flaticon-adjust-button-with-plus-and-minus:before {
  content: "\f107"; }

/* line 39, src-TT/Sass/flaticon.scss */
.flaticon-airplane-mode-on-symbol:before {
  content: "\f108"; }

/* line 40, src-TT/Sass/flaticon.scss */
.flaticon-android-logo:before {
  content: "\f109"; }

/* line 41, src-TT/Sass/flaticon.scss */
.flaticon-android-logo-1:before {
  content: "\f10a"; }

/* line 42, src-TT/Sass/flaticon.scss */
.flaticon-apple-accessibility:before {
  content: "\f10b"; }

/* line 43, src-TT/Sass/flaticon.scss */
.flaticon-attachment-clip:before {
  content: "\f10c"; }

/* line 44, src-TT/Sass/flaticon.scss */
.flaticon-auto-white-balance:before {
  content: "\f10d"; }

/* line 45, src-TT/Sass/flaticon.scss */
.flaticon-automatic-brightness:before {
  content: "\f10e"; }

/* line 46, src-TT/Sass/flaticon.scss */
.flaticon-automatic-flash-symbol:before {
  content: "\f10f"; }

/* line 47, src-TT/Sass/flaticon.scss */
.flaticon-back-arrow:before {
  content: "\f110"; }

/* line 48, src-TT/Sass/flaticon.scss */
.flaticon-backspace-arrow:before {
  content: "\f111"; }

/* line 49, src-TT/Sass/flaticon.scss */
.flaticon-bed-quilt:before {
  content: "\f112"; }

/* line 50, src-TT/Sass/flaticon.scss */
.flaticon-been-here-marker:before {
  content: "\f113"; }

/* line 51, src-TT/Sass/flaticon.scss */
.flaticon-birthday-cake:before {
  content: "\f114"; }

/* line 52, src-TT/Sass/flaticon.scss */
.flaticon-black-bubble-speech:before {
  content: "\f115"; }

/* line 53, src-TT/Sass/flaticon.scss */
.flaticon-black-check-box:before {
  content: "\f116"; }

/* line 54, src-TT/Sass/flaticon.scss */
.flaticon-black-check-box-with-white-check:before {
  content: "\f117"; }

/* line 55, src-TT/Sass/flaticon.scss */
.flaticon-black-envelope-email-symbol:before {
  content: "\f118"; }

/* line 56, src-TT/Sass/flaticon.scss */
.flaticon-black-keyboard-with-white-keys:before {
  content: "\f119"; }

/* line 57, src-TT/Sass/flaticon.scss */
.flaticon-black-plane:before {
  content: "\f11a"; }

/* line 58, src-TT/Sass/flaticon.scss */
.flaticon-blank-check-box:before {
  content: "\f11b"; }

/* line 59, src-TT/Sass/flaticon.scss */
.flaticon-blank-frame:before {
  content: "\f11c"; }

/* line 60, src-TT/Sass/flaticon.scss */
.flaticon-blank-square:before {
  content: "\f11d"; }

/* line 61, src-TT/Sass/flaticon.scss */
.flaticon-blogger-logo:before {
  content: "\f11e"; }

/* line 62, src-TT/Sass/flaticon.scss */
.flaticon-blueetooth-logo:before {
  content: "\f11f"; }

/* line 63, src-TT/Sass/flaticon.scss */
.flaticon-bluetooth-connected:before {
  content: "\f120"; }

/* line 64, src-TT/Sass/flaticon.scss */
.flaticon-bluetooth-disabled-button:before {
  content: "\f121"; }

/* line 65, src-TT/Sass/flaticon.scss */
.flaticon-bluetooth-searching-signal-indicator:before {
  content: "\f122"; }

/* line 66, src-TT/Sass/flaticon.scss */
.flaticon-bluetooth-settings:before {
  content: "\f123"; }

/* line 67, src-TT/Sass/flaticon.scss */
.flaticon-bluetooth-signal-indicator:before {
  content: "\f124"; }

/* line 68, src-TT/Sass/flaticon.scss */
.flaticon-bookmark-button:before {
  content: "\f125"; }

/* line 69, src-TT/Sass/flaticon.scss */
.flaticon-bookmark-button-1:before {
  content: "\f126"; }

/* line 70, src-TT/Sass/flaticon.scss */
.flaticon-bookmark-outline:before {
  content: "\f127"; }

/* line 71, src-TT/Sass/flaticon.scss */
.flaticon-bookmark-ribbon:before {
  content: "\f128"; }

/* line 72, src-TT/Sass/flaticon.scss */
.flaticon-briefcase-download-button-with-downwards-arrow:before {
  content: "\f129"; }

/* line 73, src-TT/Sass/flaticon.scss */
.flaticon-briefcase-with-tick-inside:before {
  content: "\f12a"; }

/* line 74, src-TT/Sass/flaticon.scss */
.flaticon-brightness-control:before {
  content: "\f12b"; }

/* line 75, src-TT/Sass/flaticon.scss */
.flaticon-brochure-with-three-sections:before {
  content: "\f12c"; }

/* line 76, src-TT/Sass/flaticon.scss */
.flaticon-bubble-speech-with-three-lines:before {
  content: "\f12d"; }

/* line 77, src-TT/Sass/flaticon.scss */
.flaticon-bug-report-button:before {
  content: "\f12e"; }

/* line 78, src-TT/Sass/flaticon.scss */
.flaticon-burn-button:before {
  content: "\f12f"; }

/* line 79, src-TT/Sass/flaticon.scss */
.flaticon-button-on:before {
  content: "\f130"; }

/* line 80, src-TT/Sass/flaticon.scss */
.flaticon-call-forwarding:before {
  content: "\f131"; }

/* line 81, src-TT/Sass/flaticon.scss */
.flaticon-call-made-right-arrow:before {
  content: "\f132"; }

/* line 82, src-TT/Sass/flaticon.scss */
.flaticon-call-received-arrow:before {
  content: "\f133"; }

/* line 83, src-TT/Sass/flaticon.scss */
.flaticon-camera:before {
  content: "\f134"; }

/* line 84, src-TT/Sass/flaticon.scss */
.flaticon-camera-diaphragm:before {
  content: "\f135"; }

/* line 85, src-TT/Sass/flaticon.scss */
.flaticon-cancel-button:before {
  content: "\f136"; }

/* line 86, src-TT/Sass/flaticon.scss */
.flaticon-caps-lock-button:before {
  content: "\f137"; }

/* line 87, src-TT/Sass/flaticon.scss */
.flaticon-caps-lock-button-1:before {
  content: "\f138"; }

/* line 88, src-TT/Sass/flaticon.scss */
.flaticon-car-changing-lanes:before {
  content: "\f139"; }

/* line 89, src-TT/Sass/flaticon.scss */
.flaticon-car-directions:before {
  content: "\f13a"; }

/* line 90, src-TT/Sass/flaticon.scss */
.flaticon-car-front:before {
  content: "\f13b"; }

/* line 91, src-TT/Sass/flaticon.scss */
.flaticon-cell-phone-high-signal-indicator:before {
  content: "\f13c"; }

/* line 92, src-TT/Sass/flaticon.scss */
.flaticon-cell-phone-vibration:before {
  content: "\f13d"; }

/* line 93, src-TT/Sass/flaticon.scss */
.flaticon-cell-phone-with-blank-screen:before {
  content: "\f13e"; }

/* line 94, src-TT/Sass/flaticon.scss */
.flaticon-change-power-options:before {
  content: "\f13f"; }

/* line 95, src-TT/Sass/flaticon.scss */
.flaticon-chat-bubble:before {
  content: "\f140"; }

/* line 96, src-TT/Sass/flaticon.scss */
.flaticon-chat-bubbles:before {
  content: "\f141"; }

/* line 97, src-TT/Sass/flaticon.scss */
.flaticon-check-box:before {
  content: "\f142"; }

/* line 98, src-TT/Sass/flaticon.scss */
.flaticon-check-symbol:before {
  content: "\f143"; }

/* line 99, src-TT/Sass/flaticon.scss */
.flaticon-chemistry-polymer:before {
  content: "\f144"; }

/* line 100, src-TT/Sass/flaticon.scss */
.flaticon-circle-outline:before {
  content: "\f145"; }

/* line 101, src-TT/Sass/flaticon.scss */
.flaticon-circle-with-check-symbol:before {
  content: "\f146"; }

/* line 102, src-TT/Sass/flaticon.scss */
.flaticon-circles-extend-button:before {
  content: "\f147"; }

/* line 103, src-TT/Sass/flaticon.scss */
.flaticon-circumference:before {
  content: "\f148"; }

/* line 104, src-TT/Sass/flaticon.scss */
.flaticon-city-buildings-silhouette:before {
  content: "\f149"; }

/* line 105, src-TT/Sass/flaticon.scss */
.flaticon-clapperboard:before {
  content: "\f14a"; }

/* line 106, src-TT/Sass/flaticon.scss */
.flaticon-clapperboard-1:before {
  content: "\f14b"; }

/* line 107, src-TT/Sass/flaticon.scss */
.flaticon-clear-button:before {
  content: "\f14c"; }

/* line 108, src-TT/Sass/flaticon.scss */
.flaticon-clipboard-paste-button:before {
  content: "\f14d"; }

/* line 109, src-TT/Sass/flaticon.scss */
.flaticon-clock-with-white-face:before {
  content: "\f14e"; }

/* line 110, src-TT/Sass/flaticon.scss */
.flaticon-close-button:before {
  content: "\f14f"; }

/* line 111, src-TT/Sass/flaticon.scss */
.flaticon-closed-caption-logo:before {
  content: "\f150"; }

/* line 112, src-TT/Sass/flaticon.scss */
.flaticon-cloud-backup-up-arrow:before {
  content: "\f151"; }

/* line 113, src-TT/Sass/flaticon.scss */
.flaticon-cloud-done-symbol:before {
  content: "\f152"; }

/* line 114, src-TT/Sass/flaticon.scss */
.flaticon-cloud-download:before {
  content: "\f153"; }

/* line 115, src-TT/Sass/flaticon.scss */
.flaticon-cloud-off:before {
  content: "\f154"; }

/* line 116, src-TT/Sass/flaticon.scss */
.flaticon-cloud-outline:before {
  content: "\f155"; }

/* line 117, src-TT/Sass/flaticon.scss */
.flaticon-cloud-symbol-inside-a-circle:before {
  content: "\f156"; }

/* line 118, src-TT/Sass/flaticon.scss */
.flaticon-compass-with-white-needles:before {
  content: "\f157"; }

/* line 119, src-TT/Sass/flaticon.scss */
.flaticon-connection-indicator:before {
  content: "\f158"; }

/* line 120, src-TT/Sass/flaticon.scss */
.flaticon-copy-content:before {
  content: "\f159"; }

/* line 121, src-TT/Sass/flaticon.scss */
.flaticon-create-group-button:before {
  content: "\f15a"; }

/* line 122, src-TT/Sass/flaticon.scss */
.flaticon-create-new-pencil-button:before {
  content: "\f15b"; }

/* line 123, src-TT/Sass/flaticon.scss */
.flaticon-credit-card:before {
  content: "\f15c"; }

/* line 124, src-TT/Sass/flaticon.scss */
.flaticon-crop-button:before {
  content: "\f15d"; }

/* line 125, src-TT/Sass/flaticon.scss */
.flaticon-crop-tool-button:before {
  content: "\f15e"; }

/* line 126, src-TT/Sass/flaticon.scss */
.flaticon-cut-content-button:before {
  content: "\f15f"; }

/* line 127, src-TT/Sass/flaticon.scss */
.flaticon-dark-cloud:before {
  content: "\f160"; }

/* line 128, src-TT/Sass/flaticon.scss */
.flaticon-developer-mode-for-smartphones-and-tablets:before {
  content: "\f161"; }

/* line 129, src-TT/Sass/flaticon.scss */
.flaticon-device-connected:before {
  content: "\f162"; }

/* line 130, src-TT/Sass/flaticon.scss */
.flaticon-device-connected-1:before {
  content: "\f163"; }

/* line 131, src-TT/Sass/flaticon.scss */
.flaticon-disc-is-full:before {
  content: "\f164"; }

/* line 132, src-TT/Sass/flaticon.scss */
.flaticon-do-not-disturb-rounded-sign:before {
  content: "\f165"; }

/* line 133, src-TT/Sass/flaticon.scss */
.flaticon-double-tick-indicator:before {
  content: "\f166"; }

/* line 134, src-TT/Sass/flaticon.scss */
.flaticon-download-button:before {
  content: "\f167"; }

/* line 135, src-TT/Sass/flaticon.scss */
.flaticon-download-button-1:before {
  content: "\f168"; }

/* line 136, src-TT/Sass/flaticon.scss */
.flaticon-download-to-smartphone:before {
  content: "\f169"; }

/* line 137, src-TT/Sass/flaticon.scss */
.flaticon-downwards-arrow-key:before {
  content: "\f16a"; }

/* line 138, src-TT/Sass/flaticon.scss */
.flaticon-drafts-evelope-button:before {
  content: "\f16b"; }

/* line 139, src-TT/Sass/flaticon.scss */
.flaticon-drop-down-arrow:before {
  content: "\f16c"; }

/* line 140, src-TT/Sass/flaticon.scss */
.flaticon-drop-down-round-button:before {
  content: "\f16d"; }

/* line 141, src-TT/Sass/flaticon.scss */
.flaticon-drop-up-arrow:before {
  content: "\f16e"; }

/* line 142, src-TT/Sass/flaticon.scss */
.flaticon-earth-grid-select-language-button:before {
  content: "\f16f"; }

/* line 143, src-TT/Sass/flaticon.scss */
.flaticon-ellipsis:before {
  content: "\f170"; }

/* line 144, src-TT/Sass/flaticon.scss */
.flaticon-email-inbox:before {
  content: "\f171"; }

/* line 145, src-TT/Sass/flaticon.scss */
.flaticon-emoticon-with-happy-face:before {
  content: "\f172"; }

/* line 146, src-TT/Sass/flaticon.scss */
.flaticon-end-call-button:before {
  content: "\f173"; }

/* line 147, src-TT/Sass/flaticon.scss */
.flaticon-enter-arrow:before {
  content: "\f174"; }

/* line 148, src-TT/Sass/flaticon.scss */
.flaticon-exit-to-app-button:before {
  content: "\f175"; }

/* line 149, src-TT/Sass/flaticon.scss */
.flaticon-expand-arrow:before {
  content: "\f176"; }

/* line 150, src-TT/Sass/flaticon.scss */
.flaticon-expand-button:before {
  content: "\f177"; }

/* line 151, src-TT/Sass/flaticon.scss */
.flaticon-facebook-logo:before {
  content: "\f178"; }

/* line 152, src-TT/Sass/flaticon.scss */
.flaticon-failed-sms:before {
  content: "\f179"; }

/* line 153, src-TT/Sass/flaticon.scss */
.flaticon-fast-forward-button:before {
  content: "\f17a"; }

/* line 154, src-TT/Sass/flaticon.scss */
.flaticon-favorite-heart-button:before {
  content: "\f17b"; }

/* line 155, src-TT/Sass/flaticon.scss */
.flaticon-favorite-heart-outline-button:before {
  content: "\f17c"; }

/* line 156, src-TT/Sass/flaticon.scss */
.flaticon-filled-circle:before {
  content: "\f17d"; }

/* line 157, src-TT/Sass/flaticon.scss */
.flaticon-filled-cloud:before {
  content: "\f17e"; }

/* line 158, src-TT/Sass/flaticon.scss */
.flaticon-filled-speaker-with-white-details:before {
  content: "\f17f"; }

/* line 159, src-TT/Sass/flaticon.scss */
.flaticon-film-roll:before {
  content: "\f180"; }

/* line 160, src-TT/Sass/flaticon.scss */
.flaticon-filter-results-button:before {
  content: "\f181"; }

/* line 161, src-TT/Sass/flaticon.scss */
.flaticon-flash-off:before {
  content: "\f182"; }

/* line 162, src-TT/Sass/flaticon.scss */
.flaticon-flash-on-indicator:before {
  content: "\f183"; }

/* line 163, src-TT/Sass/flaticon.scss */
.flaticon-folder-symbol:before {
  content: "\f184"; }

/* line 164, src-TT/Sass/flaticon.scss */
.flaticon-forward-arrow:before {
  content: "\f185"; }

/* line 165, src-TT/Sass/flaticon.scss */
.flaticon-forward-right-arrow-button:before {
  content: "\f186"; }

/* line 166, src-TT/Sass/flaticon.scss */
.flaticon-framed-portrait:before {
  content: "\f187"; }

/* line 167, src-TT/Sass/flaticon.scss */
.flaticon-front-bus:before {
  content: "\f188"; }

/* line 168, src-TT/Sass/flaticon.scss */
.flaticon-front-car:before {
  content: "\f189"; }

/* line 169, src-TT/Sass/flaticon.scss */
.flaticon-front-store:before {
  content: "\f18a"; }

/* line 170, src-TT/Sass/flaticon.scss */
.flaticon-full-screen-exit:before {
  content: "\f18b"; }

/* line 171, src-TT/Sass/flaticon.scss */
.flaticon-gamepad:before {
  content: "\f18c"; }

/* line 172, src-TT/Sass/flaticon.scss */
.flaticon-gamepad-1:before {
  content: "\f18d"; }

/* line 173, src-TT/Sass/flaticon.scss */
.flaticon-get-directions-button:before {
  content: "\f18e"; }

/* line 174, src-TT/Sass/flaticon.scss */
.flaticon-gmail-logo:before {
  content: "\f18f"; }

/* line 175, src-TT/Sass/flaticon.scss */
.flaticon-go-back-left-arrow:before {
  content: "\f190"; }

/* line 176, src-TT/Sass/flaticon.scss */
.flaticon-good-mood-emoticon:before {
  content: "\f191"; }

/* line 177, src-TT/Sass/flaticon.scss */
.flaticon-good-wifi-signal-with-three-bars:before {
  content: "\f192"; }

/* line 178, src-TT/Sass/flaticon.scss */
.flaticon-google-apps-script-logo:before {
  content: "\f193"; }

/* line 179, src-TT/Sass/flaticon.scss */
.flaticon-google-cast-logo:before {
  content: "\f194"; }

/* line 180, src-TT/Sass/flaticon.scss */
.flaticon-google-chrome-logo-filled-with-white-colour:before {
  content: "\f195"; }

/* line 181, src-TT/Sass/flaticon.scss */
.flaticon-google-drive-document:before {
  content: "\f196"; }

/* line 182, src-TT/Sass/flaticon.scss */
.flaticon-google-drive-file:before {
  content: "\f197"; }

/* line 183, src-TT/Sass/flaticon.scss */
.flaticon-google-drive-folder-symbol:before {
  content: "\f198"; }

/* line 184, src-TT/Sass/flaticon.scss */
.flaticon-google-drive-fusion-tables-logo:before {
  content: "\f199"; }

/* line 185, src-TT/Sass/flaticon.scss */
.flaticon-google-drive-image:before {
  content: "\f19a"; }

/* line 186, src-TT/Sass/flaticon.scss */
.flaticon-google-drive-logo:before {
  content: "\f19b"; }

/* line 187, src-TT/Sass/flaticon.scss */
.flaticon-google-drive-pdf-file:before {
  content: "\f19c"; }

/* line 188, src-TT/Sass/flaticon.scss */
.flaticon-google-drive-presentation:before {
  content: "\f19d"; }

/* line 189, src-TT/Sass/flaticon.scss */
.flaticon-google-drive-spreadsheet:before {
  content: "\f19e"; }

/* line 190, src-TT/Sass/flaticon.scss */
.flaticon-google-glass-logo:before {
  content: "\f19f"; }

/* line 191, src-TT/Sass/flaticon.scss */
.flaticon-google-hangouts-logo:before {
  content: "\f1a0"; }

/* line 192, src-TT/Sass/flaticon.scss */
.flaticon-google-hangouts-turn-video-off:before {
  content: "\f1a1"; }

/* line 193, src-TT/Sass/flaticon.scss */
.flaticon-google-plus-logo:before {
  content: "\f1a2"; }

/* line 194, src-TT/Sass/flaticon.scss */
.flaticon-google-plus-logo-on-black-background:before {
  content: "\f1a3"; }

/* line 195, src-TT/Sass/flaticon.scss */
.flaticon-google-plus-party-mode:before {
  content: "\f1a4"; }

/* line 196, src-TT/Sass/flaticon.scss */
.flaticon-google-symbol:before {
  content: "\f1a5"; }

/* line 197, src-TT/Sass/flaticon.scss */
.flaticon-gps-fixed-indicator:before {
  content: "\f1a6"; }

/* line 198, src-TT/Sass/flaticon.scss */
.flaticon-gps-location-disabled:before {
  content: "\f1a7"; }

/* line 199, src-TT/Sass/flaticon.scss */
.flaticon-gps-location-symbol:before {
  content: "\f1a8"; }

/* line 200, src-TT/Sass/flaticon.scss */
.flaticon-gps-off:before {
  content: "\f1a9"; }

/* line 201, src-TT/Sass/flaticon.scss */
.flaticon-graduate-cap:before {
  content: "\f1aa"; }

/* line 202, src-TT/Sass/flaticon.scss */
.flaticon-half-filled-rating-star:before {
  content: "\f1ab"; }

/* line 203, src-TT/Sass/flaticon.scss */
.flaticon-hangouts-videocall-button:before {
  content: "\f1ac"; }

/* line 204, src-TT/Sass/flaticon.scss */
.flaticon-headset:before {
  content: "\f1ad"; }

/* line 205, src-TT/Sass/flaticon.scss */
.flaticon-headset-with-microphone:before {
  content: "\f1ae"; }

/* line 206, src-TT/Sass/flaticon.scss */
.flaticon-help-button-speech-bubble-with-question-mark:before {
  content: "\f1af"; }

/* line 207, src-TT/Sass/flaticon.scss */
.flaticon-help-round-button:before {
  content: "\f1b0"; }

/* line 208, src-TT/Sass/flaticon.scss */
.flaticon-hide-keyboard-button:before {
  content: "\f1b1"; }

/* line 209, src-TT/Sass/flaticon.scss */
.flaticon-high-quality-button:before {
  content: "\f1b2"; }

/* line 210, src-TT/Sass/flaticon.scss */
.flaticon-high-signal-indicator:before {
  content: "\f1b3"; }

/* line 211, src-TT/Sass/flaticon.scss */
.flaticon-high-wifi-signal-indicator:before {
  content: "\f1b4"; }

/* line 212, src-TT/Sass/flaticon.scss */
.flaticon-history-clock-button:before {
  content: "\f1b5"; }

/* line 213, src-TT/Sass/flaticon.scss */
.flaticon-home-button:before {
  content: "\f1b6"; }

/* line 214, src-TT/Sass/flaticon.scss */
.flaticon-horizontal-line-remove-button:before {
  content: "\f1b7"; }

/* line 215, src-TT/Sass/flaticon.scss */
.flaticon-hotel-with-three-floors:before {
  content: "\f1b8"; }

/* line 216, src-TT/Sass/flaticon.scss */
.flaticon-https-symbol:before {
  content: "\f1b9"; }

/* line 217, src-TT/Sass/flaticon.scss */
.flaticon-import-export-arrows:before {
  content: "\f1ba"; }

/* line 218, src-TT/Sass/flaticon.scss */
.flaticon-insert-picture-button:before {
  content: "\f1bb"; }

/* line 219, src-TT/Sass/flaticon.scss */
.flaticon-instagram-logo:before {
  content: "\f1bc"; }

/* line 220, src-TT/Sass/flaticon.scss */
.flaticon-invert-colors-button:before {
  content: "\f1bd"; }

/* line 221, src-TT/Sass/flaticon.scss */
.flaticon-keyboard-left-arrow-button:before {
  content: "\f1be"; }

/* line 222, src-TT/Sass/flaticon.scss */
.flaticon-keyboard-right-arrow-button:before {
  content: "\f1bf"; }

/* line 223, src-TT/Sass/flaticon.scss */
.flaticon-keyboard-right-arrow-button-1:before {
  content: "\f1c0"; }

/* line 224, src-TT/Sass/flaticon.scss */
.flaticon-label-right-arrow-outline:before {
  content: "\f1c1"; }

/* line 225, src-TT/Sass/flaticon.scss */
.flaticon-landscape-with-mountains:before {
  content: "\f1c2"; }

/* line 226, src-TT/Sass/flaticon.scss */
.flaticon-laptop-outline:before {
  content: "\f1c3"; }

/* line 227, src-TT/Sass/flaticon.scss */
.flaticon-left-arrow-key:before {
  content: "\f1c4"; }

/* line 228, src-TT/Sass/flaticon.scss */
.flaticon-left-arrow-key-1:before {
  content: "\f1c5"; }

/* line 229, src-TT/Sass/flaticon.scss */
.flaticon-left-arrow-missed-call:before {
  content: "\f1c6"; }

/* line 230, src-TT/Sass/flaticon.scss */
.flaticon-light-bulb-on:before {
  content: "\f1c7"; }

/* line 231, src-TT/Sass/flaticon.scss */
.flaticon-link-button:before {
  content: "\f1c8"; }

/* line 232, src-TT/Sass/flaticon.scss */
.flaticon-linkedin-logo:before {
  content: "\f1c9"; }

/* line 233, src-TT/Sass/flaticon.scss */
.flaticon-list-button-with-3-elements:before {
  content: "\f1ca"; }

/* line 234, src-TT/Sass/flaticon.scss */
.flaticon-list-of-three-elements-on-black-background:before {
  content: "\f1cb"; }

/* line 235, src-TT/Sass/flaticon.scss */
.flaticon-location-arrow:before {
  content: "\f1cc"; }

/* line 236, src-TT/Sass/flaticon.scss */
.flaticon-locked-padlock:before {
  content: "\f1cd"; }

/* line 237, src-TT/Sass/flaticon.scss */
.flaticon-locked-padlock-outline:before {
  content: "\f1ce"; }

/* line 238, src-TT/Sass/flaticon.scss */
.flaticon-low-signal-indicator:before {
  content: "\f1cf"; }

/* line 239, src-TT/Sass/flaticon.scss */
.flaticon-magic-wand-auto-fix-button:before {
  content: "\f1d0"; }

/* line 240, src-TT/Sass/flaticon.scss */
.flaticon-man-cycling:before {
  content: "\f1d1"; }

/* line 241, src-TT/Sass/flaticon.scss */
.flaticon-man-walking-directions-button:before {
  content: "\f1d2"; }

/* line 242, src-TT/Sass/flaticon.scss */
.flaticon-map-placeholder:before {
  content: "\f1d3"; }

/* line 243, src-TT/Sass/flaticon.scss */
.flaticon-map-symbol:before {
  content: "\f1d4"; }

/* line 244, src-TT/Sass/flaticon.scss */
.flaticon-mark-as-favorite-star:before {
  content: "\f1d5"; }

/* line 245, src-TT/Sass/flaticon.scss */
.flaticon-mark-as-unread-envelope-button:before {
  content: "\f1d6"; }

/* line 246, src-TT/Sass/flaticon.scss */
.flaticon-medium-brightness-cogwheel:before {
  content: "\f1d7"; }

/* line 247, src-TT/Sass/flaticon.scss */
.flaticon-medium-signal:before {
  content: "\f1d8"; }

/* line 248, src-TT/Sass/flaticon.scss */
.flaticon-medium-wifi-signal-with-two-bars:before {
  content: "\f1d9"; }

/* line 249, src-TT/Sass/flaticon.scss */
.flaticon-memory-chip:before {
  content: "\f1da"; }

/* line 250, src-TT/Sass/flaticon.scss */
.flaticon-menu-button:before {
  content: "\f1db"; }

/* line 251, src-TT/Sass/flaticon.scss */
.flaticon-merge-calls-arrow:before {
  content: "\f1dc"; }

/* line 252, src-TT/Sass/flaticon.scss */
.flaticon-microphone-of-voice:before {
  content: "\f1dd"; }

/* line 253, src-TT/Sass/flaticon.scss */
.flaticon-microphone-voice-button:before {
  content: "\f1de"; }

/* line 254, src-TT/Sass/flaticon.scss */
.flaticon-microsoft-excel-logo:before {
  content: "\f1df"; }

/* line 255, src-TT/Sass/flaticon.scss */
.flaticon-microsoft-word-logo:before {
  content: "\f1e0"; }

/* line 256, src-TT/Sass/flaticon.scss */
.flaticon-missed-call-phone-receiver-with-left-arrow:before {
  content: "\f1e1"; }

/* line 257, src-TT/Sass/flaticon.scss */
.flaticon-mountain-range:before {
  content: "\f1e2"; }

/* line 258, src-TT/Sass/flaticon.scss */
.flaticon-mountain-range-on-black-background:before {
  content: "\f1e3"; }

/* line 259, src-TT/Sass/flaticon.scss */
.flaticon-mountains-inside-a-circle:before {
  content: "\f1e4"; }

/* line 260, src-TT/Sass/flaticon.scss */
.flaticon-mouse-filled-tool:before {
  content: "\f1e5"; }

/* line 261, src-TT/Sass/flaticon.scss */
.flaticon-move-window:before {
  content: "\f1e6"; }

/* line 262, src-TT/Sass/flaticon.scss */
.flaticon-new-tab:before {
  content: "\f1e7"; }

/* line 263, src-TT/Sass/flaticon.scss */
.flaticon-new-tab-button:before {
  content: "\f1e8"; }

/* line 264, src-TT/Sass/flaticon.scss */
.flaticon-nfc-near-field-communication:before {
  content: "\f1e9"; }

/* line 265, src-TT/Sass/flaticon.scss */
.flaticon-notifications-bell-button:before {
  content: "\f1ea"; }

/* line 266, src-TT/Sass/flaticon.scss */
.flaticon-notifications-button:before {
  content: "\f1eb"; }

/* line 267, src-TT/Sass/flaticon.scss */
.flaticon-notifications-silenced:before {
  content: "\f1ec"; }

/* line 268, src-TT/Sass/flaticon.scss */
.flaticon-pages-of-google-plus:before {
  content: "\f1ed"; }

/* line 269, src-TT/Sass/flaticon.scss */
.flaticon-painter-palette:before {
  content: "\f1ee"; }

/* line 270, src-TT/Sass/flaticon.scss */
.flaticon-panoramic-mountain-photography:before {
  content: "\f1ef"; }

/* line 271, src-TT/Sass/flaticon.scss */
.flaticon-parking-sign:before {
  content: "\f1f0"; }

/* line 272, src-TT/Sass/flaticon.scss */
.flaticon-pause-button:before {
  content: "\f1f1"; }

/* line 273, src-TT/Sass/flaticon.scss */
.flaticon-phone-call-button:before {
  content: "\f1f2"; }

/* line 274, src-TT/Sass/flaticon.scss */
.flaticon-phone-locked:before {
  content: "\f1f3"; }

/* line 275, src-TT/Sass/flaticon.scss */
.flaticon-phone-paused-indicator:before {
  content: "\f1f4"; }

/* line 276, src-TT/Sass/flaticon.scss */
.flaticon-phone-receiver-with-bluetooth-sign:before {
  content: "\f1f5"; }

/* line 277, src-TT/Sass/flaticon.scss */
.flaticon-phone-settings:before {
  content: "\f1f6"; }

/* line 278, src-TT/Sass/flaticon.scss */
.flaticon-phone-working-indicator:before {
  content: "\f1f7"; }

/* line 279, src-TT/Sass/flaticon.scss */
.flaticon-photo-album:before {
  content: "\f1f8"; }

/* line 280, src-TT/Sass/flaticon.scss */
.flaticon-photo-frame:before {
  content: "\f1f9"; }

/* line 281, src-TT/Sass/flaticon.scss */
.flaticon-photo-library:before {
  content: "\f1fa"; }

/* line 282, src-TT/Sass/flaticon.scss */
.flaticon-photographic-film-roll:before {
  content: "\f1fb"; }

/* line 283, src-TT/Sass/flaticon.scss */
.flaticon-pinterest-logo:before {
  content: "\f1fc"; }

/* line 284, src-TT/Sass/flaticon.scss */
.flaticon-planet-earth:before {
  content: "\f1fd"; }

/* line 285, src-TT/Sass/flaticon.scss */
.flaticon-play-arrow:before {
  content: "\f1fe"; }

/* line 286, src-TT/Sass/flaticon.scss */
.flaticon-play-button-inside-a-circle:before {
  content: "\f1ff"; }

/* line 287, src-TT/Sass/flaticon.scss */
.flaticon-play-next-button:before {
  content: "\f200"; }

/* line 288, src-TT/Sass/flaticon.scss */
.flaticon-play-rounded-button:before {
  content: "\f201"; }

/* line 289, src-TT/Sass/flaticon.scss */
.flaticon-play-slideshow-button:before {
  content: "\f202"; }

/* line 290, src-TT/Sass/flaticon.scss */
.flaticon-plus-one:before {
  content: "\f203"; }

/* line 291, src-TT/Sass/flaticon.scss */
.flaticon-poll-symbol-on-black-square-with-rounded-corners:before {
  content: "\f204"; }

/* line 292, src-TT/Sass/flaticon.scss */
.flaticon-power-connection-indicator:before {
  content: "\f205"; }

/* line 293, src-TT/Sass/flaticon.scss */
.flaticon-previous-track:before {
  content: "\f206"; }

/* line 294, src-TT/Sass/flaticon.scss */
.flaticon-printer-printing-document:before {
  content: "\f207"; }

/* line 295, src-TT/Sass/flaticon.scss */
.flaticon-problems-with-synchronization:before {
  content: "\f208"; }

/* line 296, src-TT/Sass/flaticon.scss */
.flaticon-progress-indicator:before {
  content: "\f209"; }

/* line 297, src-TT/Sass/flaticon.scss */
.flaticon-public-transport-subway:before {
  content: "\f20a"; }

/* line 298, src-TT/Sass/flaticon.scss */
.flaticon-public-transport-train-directions:before {
  content: "\f20b"; }

/* line 299, src-TT/Sass/flaticon.scss */
.flaticon-puzzle-piece-plugin:before {
  content: "\f20c"; }

/* line 300, src-TT/Sass/flaticon.scss */
.flaticon-radio-on-button:before {
  content: "\f20d"; }

/* line 301, src-TT/Sass/flaticon.scss */
.flaticon-random-line:before {
  content: "\f20e"; }

/* line 302, src-TT/Sass/flaticon.scss */
.flaticon-rate-star-button:before {
  content: "\f20f"; }

/* line 303, src-TT/Sass/flaticon.scss */
.flaticon-read-more-left-arrow-button:before {
  content: "\f210"; }

/* line 304, src-TT/Sass/flaticon.scss */
.flaticon-receipt:before {
  content: "\f211"; }

/* line 305, src-TT/Sass/flaticon.scss */
.flaticon-record-voice-microphone-button:before {
  content: "\f212"; }

/* line 306, src-TT/Sass/flaticon.scss */
.flaticon-refresh-button:before {
  content: "\f213"; }

/* line 307, src-TT/Sass/flaticon.scss */
.flaticon-refresh-button-1:before {
  content: "\f214"; }

/* line 308, src-TT/Sass/flaticon.scss */
.flaticon-reminder-bow:before {
  content: "\f215"; }

/* line 309, src-TT/Sass/flaticon.scss */
.flaticon-replay-arrow:before {
  content: "\f216"; }

/* line 310, src-TT/Sass/flaticon.scss */
.flaticon-reply-all-button:before {
  content: "\f217"; }

/* line 311, src-TT/Sass/flaticon.scss */
.flaticon-report-symbol:before {
  content: "\f218"; }

/* line 312, src-TT/Sass/flaticon.scss */
.flaticon-rewind-button:before {
  content: "\f219"; }

/* line 313, src-TT/Sass/flaticon.scss */
.flaticon-right-arrow-forward:before {
  content: "\f21a"; }

/* line 314, src-TT/Sass/flaticon.scss */
.flaticon-ring-volume-control-button:before {
  content: "\f21b"; }

/* line 315, src-TT/Sass/flaticon.scss */
.flaticon-rotate-to-left-button:before {
  content: "\f21c"; }

/* line 316, src-TT/Sass/flaticon.scss */
.flaticon-rotate-to-right-button:before {
  content: "\f21d"; }

/* line 317, src-TT/Sass/flaticon.scss */
.flaticon-round-account-button-with-user-inside:before {
  content: "\f21e"; }

/* line 318, src-TT/Sass/flaticon.scss */
.flaticon-round-add-button:before {
  content: "\f21f"; }

/* line 319, src-TT/Sass/flaticon.scss */
.flaticon-round-data-usage-symbol:before {
  content: "\f220"; }

/* line 320, src-TT/Sass/flaticon.scss */
.flaticon-round-delete-button:before {
  content: "\f221"; }

/* line 321, src-TT/Sass/flaticon.scss */
.flaticon-round-error-symbol:before {
  content: "\f222"; }

/* line 322, src-TT/Sass/flaticon.scss */
.flaticon-round-info-button:before {
  content: "\f223"; }

/* line 323, src-TT/Sass/flaticon.scss */
.flaticon-round-pause-button:before {
  content: "\f224"; }

/* line 324, src-TT/Sass/flaticon.scss */
.flaticon-round-remove-button:before {
  content: "\f225"; }

/* line 325, src-TT/Sass/flaticon.scss */
.flaticon-round-rgb-button:before {
  content: "\f226"; }

/* line 326, src-TT/Sass/flaticon.scss */
.flaticon-rounded-add-button:before {
  content: "\f227"; }

/* line 327, src-TT/Sass/flaticon.scss */
.flaticon-rounded-add-button-1:before {
  content: "\f228"; }

/* line 328, src-TT/Sass/flaticon.scss */
.flaticon-rounded-adjust-button-with-plus-and-minus:before {
  content: "\f229"; }

/* line 329, src-TT/Sass/flaticon.scss */
.flaticon-rounded-block-sign:before {
  content: "\f22a"; }

/* line 330, src-TT/Sass/flaticon.scss */
.flaticon-rounded-info-button:before {
  content: "\f22b"; }

/* line 331, src-TT/Sass/flaticon.scss */
.flaticon-rounded-pause-button:before {
  content: "\f22c"; }

/* line 332, src-TT/Sass/flaticon.scss */
.flaticon-rounded-remove-button:before {
  content: "\f22d"; }

/* line 333, src-TT/Sass/flaticon.scss */
.flaticon-rubbish-bin-delete-button:before {
  content: "\f22e"; }

/* line 334, src-TT/Sass/flaticon.scss */
.flaticon-save-button:before {
  content: "\f22f"; }

/* line 335, src-TT/Sass/flaticon.scss */
.flaticon-schedule-button:before {
  content: "\f230"; }

/* line 336, src-TT/Sass/flaticon.scss */
.flaticon-screen-locked:before {
  content: "\f231"; }

/* line 337, src-TT/Sass/flaticon.scss */
.flaticon-screen-locked-1:before {
  content: "\f232"; }

/* line 338, src-TT/Sass/flaticon.scss */
.flaticon-screen-rotation-button:before {
  content: "\f233"; }

/* line 339, src-TT/Sass/flaticon.scss */
.flaticon-screen-rotation-lock-button:before {
  content: "\f234"; }

/* line 340, src-TT/Sass/flaticon.scss */
.flaticon-screen-with-news-sections:before {
  content: "\f235"; }

/* line 341, src-TT/Sass/flaticon.scss */
.flaticon-screen-with-rounded-corners:before {
  content: "\f236"; }

/* line 342, src-TT/Sass/flaticon.scss */
.flaticon-sd-card:before {
  content: "\f237"; }

/* line 343, src-TT/Sass/flaticon.scss */
.flaticon-sd-card-1:before {
  content: "\f238"; }

/* line 344, src-TT/Sass/flaticon.scss */
.flaticon-searching-location-gps-indicator:before {
  content: "\f239"; }

/* line 345, src-TT/Sass/flaticon.scss */
.flaticon-searching-magnifying-glass:before {
  content: "\f23a"; }

/* line 346, src-TT/Sass/flaticon.scss */
.flaticon-select-all:before {
  content: "\f23b"; }

/* line 347, src-TT/Sass/flaticon.scss */
.flaticon-select-brightness-button:before {
  content: "\f23c"; }

/* line 348, src-TT/Sass/flaticon.scss */
.flaticon-send-button:before {
  content: "\f23d"; }

/* line 349, src-TT/Sass/flaticon.scss */
.flaticon-send-to-back-button:before {
  content: "\f23e"; }

/* line 350, src-TT/Sass/flaticon.scss */
.flaticon-send-to-front-button:before {
  content: "\f23f"; }

/* line 351, src-TT/Sass/flaticon.scss */
.flaticon-server-rack-with-three-levels:before {
  content: "\f240"; }

/* line 352, src-TT/Sass/flaticon.scss */
.flaticon-set-alarm:before {
  content: "\f241"; }

/* line 353, src-TT/Sass/flaticon.scss */
.flaticon-set-timer-button:before {
  content: "\f242"; }

/* line 354, src-TT/Sass/flaticon.scss */
.flaticon-settings-cogwheel-button:before {
  content: "\f243"; }

/* line 355, src-TT/Sass/flaticon.scss */
.flaticon-settings-cogwheel-inside-black-square:before {
  content: "\f244"; }

/* line 356, src-TT/Sass/flaticon.scss */
.flaticon-share-button:before {
  content: "\f245"; }

/* line 357, src-TT/Sass/flaticon.scss */
.flaticon-shared-folder:before {
  content: "\f246"; }

/* line 358, src-TT/Sass/flaticon.scss */
.flaticon-shining-rectangular-object:before {
  content: "\f247"; }

/* line 359, src-TT/Sass/flaticon.scss */
.flaticon-shining-sun:before {
  content: "\f248"; }

/* line 360, src-TT/Sass/flaticon.scss */
.flaticon-shopping-basket-button:before {
  content: "\f249"; }

/* line 361, src-TT/Sass/flaticon.scss */
.flaticon-shopping-cart:before {
  content: "\f24a"; }

/* line 362, src-TT/Sass/flaticon.scss */
.flaticon-show-apps-button:before {
  content: "\f24b"; }

/* line 363, src-TT/Sass/flaticon.scss */
.flaticon-show-less-fold-button:before {
  content: "\f24c"; }

/* line 364, src-TT/Sass/flaticon.scss */
.flaticon-show-menu-button:before {
  content: "\f24d"; }

/* line 365, src-TT/Sass/flaticon.scss */
.flaticon-show-more-button:before {
  content: "\f24e"; }

/* line 366, src-TT/Sass/flaticon.scss */
.flaticon-show-more-button-with-three-dots:before {
  content: "\f24f"; }

/* line 367, src-TT/Sass/flaticon.scss */
.flaticon-shuffle-mode-arrows:before {
  content: "\f250"; }

/* line 368, src-TT/Sass/flaticon.scss */
.flaticon-sim-card-problem:before {
  content: "\f251"; }

/* line 369, src-TT/Sass/flaticon.scss */
.flaticon-smartphone-dock:before {
  content: "\f252"; }

/* line 370, src-TT/Sass/flaticon.scss */
.flaticon-smartphone-with-three-buttons:before {
  content: "\f253"; }

/* line 371, src-TT/Sass/flaticon.scss */
.flaticon-sms-bubble-speech:before {
  content: "\f254"; }

/* line 372, src-TT/Sass/flaticon.scss */
.flaticon-sms-speech-bubble:before {
  content: "\f255"; }

/* line 373, src-TT/Sass/flaticon.scss */
.flaticon-snake-game:before {
  content: "\f256"; }

/* line 374, src-TT/Sass/flaticon.scss */
.flaticon-sort-button-with-three-lines:before {
  content: "\f257"; }

/* line 375, src-TT/Sass/flaticon.scss */
.flaticon-speech-bubble-with-mountains-inside:before {
  content: "\f258"; }

/* line 376, src-TT/Sass/flaticon.scss */
.flaticon-split-call-arrows:before {
  content: "\f259"; }

/* line 377, src-TT/Sass/flaticon.scss */
.flaticon-square-add-button:before {
  content: "\f25a"; }

/* line 378, src-TT/Sass/flaticon.scss */
.flaticon-stop-button:before {
  content: "\f25b"; }

/* line 379, src-TT/Sass/flaticon.scss */
.flaticon-swap-horizontal-orientation-arrows:before {
  content: "\f25c"; }

/* line 380, src-TT/Sass/flaticon.scss */
.flaticon-swap-vertical-orientation-arrows:before {
  content: "\f25d"; }

/* line 381, src-TT/Sass/flaticon.scss */
.flaticon-switch-camera-button:before {
  content: "\f25e"; }

/* line 382, src-TT/Sass/flaticon.scss */
.flaticon-switch-to-full-screen-button:before {
  content: "\f25f"; }

/* line 383, src-TT/Sass/flaticon.scss */
.flaticon-switch-vertical-orientation-arrows:before {
  content: "\f260"; }

/* line 384, src-TT/Sass/flaticon.scss */
.flaticon-switch-video-on:before {
  content: "\f261"; }

/* line 385, src-TT/Sass/flaticon.scss */
.flaticon-synchronization-arrows:before {
  content: "\f262"; }

/* line 386, src-TT/Sass/flaticon.scss */
.flaticon-synchronization-button-with-two-arrows:before {
  content: "\f263"; }

/* line 387, src-TT/Sass/flaticon.scss */
.flaticon-synchronization-problem:before {
  content: "\f264"; }

/* line 388, src-TT/Sass/flaticon.scss */
.flaticon-tab-symbol:before {
  content: "\f265"; }

/* line 389, src-TT/Sass/flaticon.scss */
.flaticon-tablet-with-blank-screen:before {
  content: "\f266"; }

/* line 390, src-TT/Sass/flaticon.scss */
.flaticon-tack-save-button:before {
  content: "\f267"; }

/* line 391, src-TT/Sass/flaticon.scss */
.flaticon-tag-button-with-happy-face:before {
  content: "\f268"; }

/* line 392, src-TT/Sass/flaticon.scss */
.flaticon-telephone-keypad-with-ten-keys:before {
  content: "\f269"; }

/* line 393, src-TT/Sass/flaticon.scss */
.flaticon-thermostat-temperature-wheel:before {
  content: "\f26a"; }

/* line 394, src-TT/Sass/flaticon.scss */
.flaticon-three-columns-layout:before {
  content: "\f26b"; }

/* line 395, src-TT/Sass/flaticon.scss */
.flaticon-three-dots-more-indicator:before {
  content: "\f26c"; }

/* line 396, src-TT/Sass/flaticon.scss */
.flaticon-thumb-down-button:before {
  content: "\f26d"; }

/* line 397, src-TT/Sass/flaticon.scss */
.flaticon-thumb-up-button:before {
  content: "\f26e"; }

/* line 398, src-TT/Sass/flaticon.scss */
.flaticon-tick-inside-circle:before {
  content: "\f26f"; }

/* line 399, src-TT/Sass/flaticon.scss */
.flaticon-time-lapse:before {
  content: "\f270"; }

/* line 400, src-TT/Sass/flaticon.scss */
.flaticon-traffic-light:before {
  content: "\f271"; }

/* line 401, src-TT/Sass/flaticon.scss */
.flaticon-train-public-transport:before {
  content: "\f272"; }

/* line 402, src-TT/Sass/flaticon.scss */
.flaticon-tumblr-logo:before {
  content: "\f273"; }

/* line 403, src-TT/Sass/flaticon.scss */
.flaticon-turn-airplane-mode-off:before {
  content: "\f274"; }

/* line 404, src-TT/Sass/flaticon.scss */
.flaticon-turn-microphone-off-button:before {
  content: "\f275"; }

/* line 405, src-TT/Sass/flaticon.scss */
.flaticon-turn-notifications-off-button:before {
  content: "\f276"; }

/* line 406, src-TT/Sass/flaticon.scss */
.flaticon-turn-notifications-on-button:before {
  content: "\f277"; }

/* line 407, src-TT/Sass/flaticon.scss */
.flaticon-turn-synchronization-off:before {
  content: "\f278"; }

/* line 408, src-TT/Sass/flaticon.scss */
.flaticon-turn-video-off-button:before {
  content: "\f279"; }

/* line 409, src-TT/Sass/flaticon.scss */
.flaticon-turn-visibility-off-button:before {
  content: "\f27a"; }

/* line 410, src-TT/Sass/flaticon.scss */
.flaticon-twitter-logo-on-black-background:before {
  content: "\f27b"; }

/* line 411, src-TT/Sass/flaticon.scss */
.flaticon-two-circles-one-inside-the-other:before {
  content: "\f27c"; }

/* line 412, src-TT/Sass/flaticon.scss */
.flaticon-two-men:before {
  content: "\f27d"; }

/* line 413, src-TT/Sass/flaticon.scss */
.flaticon-two-rows-and-three-columns-layout:before {
  content: "\f27e"; }

/* line 414, src-TT/Sass/flaticon.scss */
.flaticon-underline-button:before {
  content: "\f27f"; }

/* line 415, src-TT/Sass/flaticon.scss */
.flaticon-underline-text-button:before {
  content: "\f280"; }

/* line 416, src-TT/Sass/flaticon.scss */
.flaticon-undo-button:before {
  content: "\f281"; }

/* line 417, src-TT/Sass/flaticon.scss */
.flaticon-unlocked-padlock:before {
  content: "\f282"; }

/* line 418, src-TT/Sass/flaticon.scss */
.flaticon-up-arrow-key:before {
  content: "\f283"; }

/* line 419, src-TT/Sass/flaticon.scss */
.flaticon-upload-button:before {
  content: "\f284"; }

/* line 420, src-TT/Sass/flaticon.scss */
.flaticon-upload-to-cloud-button:before {
  content: "\f285"; }

/* line 421, src-TT/Sass/flaticon.scss */
.flaticon-usb-symbol:before {
  content: "\f286"; }

/* line 422, src-TT/Sass/flaticon.scss */
.flaticon-user-account-box:before {
  content: "\f287"; }

/* line 423, src-TT/Sass/flaticon.scss */
.flaticon-user-account-box-1:before {
  content: "\f288"; }

/* line 424, src-TT/Sass/flaticon.scss */
.flaticon-user-inside-bubble-speech:before {
  content: "\f289"; }

/* line 425, src-TT/Sass/flaticon.scss */
.flaticon-user-outline:before {
  content: "\f28a"; }

/* line 426, src-TT/Sass/flaticon.scss */
.flaticon-user-shape:before {
  content: "\f28b"; }

/* line 427, src-TT/Sass/flaticon.scss */
.flaticon-users-social-symbol:before {
  content: "\f28c"; }

/* line 428, src-TT/Sass/flaticon.scss */
.flaticon-verification-mark:before {
  content: "\f28d"; }

/* line 429, src-TT/Sass/flaticon.scss */
.flaticon-videocall-button:before {
  content: "\f28e"; }

/* line 430, src-TT/Sass/flaticon.scss */
.flaticon-videocam-filled-tool:before {
  content: "\f28f"; }

/* line 431, src-TT/Sass/flaticon.scss */
.flaticon-view-list-button:before {
  content: "\f290"; }

/* line 432, src-TT/Sass/flaticon.scss */
.flaticon-virtual-private-network-vpn-symbol:before {
  content: "\f291"; }

/* line 433, src-TT/Sass/flaticon.scss */
.flaticon-visibility-button:before {
  content: "\f292"; }

/* line 434, src-TT/Sass/flaticon.scss */
.flaticon-voice-message-microphone-button:before {
  content: "\f293"; }

/* line 435, src-TT/Sass/flaticon.scss */
.flaticon-voicemail:before {
  content: "\f294"; }

/* line 436, src-TT/Sass/flaticon.scss */
.flaticon-volume-down-indicator:before {
  content: "\f295"; }

/* line 437, src-TT/Sass/flaticon.scss */
.flaticon-volume-muted:before {
  content: "\f296"; }

/* line 438, src-TT/Sass/flaticon.scss */
.flaticon-volume-off-indicator:before {
  content: "\f297"; }

/* line 439, src-TT/Sass/flaticon.scss */
.flaticon-volume-up-indicator:before {
  content: "\f298"; }

/* line 440, src-TT/Sass/flaticon.scss */
.flaticon-warning-sign:before {
  content: "\f299"; }

/* line 441, src-TT/Sass/flaticon.scss */
.flaticon-watch-with-blank-face:before {
  content: "\f29a"; }

/* line 442, src-TT/Sass/flaticon.scss */
.flaticon-waving-flag:before {
  content: "\f29b"; }

/* line 443, src-TT/Sass/flaticon.scss */
.flaticon-web-server:before {
  content: "\f29c"; }

/* line 444, src-TT/Sass/flaticon.scss */
.flaticon-website-with-different-sections:before {
  content: "\f29d"; }

/* line 445, src-TT/Sass/flaticon.scss */
.flaticon-wifi-high-signal:before {
  content: "\f29e"; }

/* line 446, src-TT/Sass/flaticon.scss */
.flaticon-wifi-low-signal-with-one-bar:before {
  content: "\f29f"; }

/* line 447, src-TT/Sass/flaticon.scss */
.flaticon-wifi-signal-waves:before {
  content: "\f2a0"; }

/* line 448, src-TT/Sass/flaticon.scss */
.flaticon-window-with-different-sections:before {
  content: "\f2a1"; }

/* line 449, src-TT/Sass/flaticon.scss */
.flaticon-work-briefcase:before {
  content: "\f2a2"; }

/* line 450, src-TT/Sass/flaticon.scss */
.flaticon-workspace-with-two-horizontal-windows:before {
  content: "\f2a3"; }

/* line 451, src-TT/Sass/flaticon.scss */
.flaticon-world-shape-public-symbol:before {
  content: "\f2a4"; }

/* line 452, src-TT/Sass/flaticon.scss */
.flaticon-write-email-envelope-button:before {
  content: "\f2a5"; }

/* line 453, src-TT/Sass/flaticon.scss */
.flaticon-youtube-logo:before {
  content: "\f2a6"; }
