@import "Imports/Imports";
@import "mixins/estilos_porT";

*{
  margin: 0;
  padding: 0;
}

.NoDisponible{
  display: none;
}

.CentroV{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}
.area{
  //background-color: red;
  transform: translateY(-35px);
  height: 75vh;
  background-image: url("../img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  //border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px 27px #000000;
}

.texto{
  color: #fff3e0;
  //background: #0D47A1;
  text-align: center;
  padding-top: .7em;
  font-size: 2.2em;
  transform: translateY(12px);
}
.c{
  display: flex;
  justify-content: center;
}
.figura{
  height: $tamanofiguraP240;
  width: $tamanofiguraP240;
  border-radius: 50%;
  //background-color: #0f9d58;
  border-top: solid $tamanofigurapxP240 #fff3e0;
  border-left: $tamanofigurapxP240 solid #fff3e0;
  border-right: $tamanofigurapxP240 solid #fff3e0;
  border-bottom: 5px solid transparent;

  overflow:hidden;

  &:after{
    content: "";
    position: relative;
    display: inline-block;
    min-height: $tamanofiguraP240 / 3;
    min-width:  $tamanofiguraP240 / 3;
    left: 50%;
    top: 50%;
    //transform: translate(-50%, -50%);
    transform: rotate(45deg) translate(-70%) skew(10deg, 10deg);
    //transform: translate(-50%, -10%); //Se puede hacer una animacion con esto
    //border-radius: 50%;
    background: #fff3e0;
  }
}

.texto2{
  display: inline-block;
  width: 90%;
  color: #fff3e0;
  text-align: center;
  padding: 1em;
  border-radius: 15px;
  border: #fff3e0 3px solid;
  font-size: 1.1em;
  line-height: 20px;
  transform: translateY(-24px);

}
.linea{
  background: #fff3e0;
  width: 3px;
  height: 50px;
  transform: translateY(-23px);
}

@media screen and (max-width: 239px){
  .contenedor{
    display: none;
  }
  .NoDisponible{

    @include NoDisponible;
  }
  .ImagenNoDisponible{
    width: 5em;
  }


}

@media screen and (min-width: 240px) and (max-width: 319px){
//Por el momento no hay nada
}


@media screen and (min-width: 320px) and (max-width: 479px) {

  .texto{font-size: 3em;}

  .figura{
    @include P320_Figura;
  }

  .contFug{
    padding-top: 10px;
  }

}

@media screen and (min-width: 480px) and (max-width: 599px){

  .texto{font-size: 3.5em;}
  .figura{
    @include P480_Figura;
  }
  .contFug{
    padding-top: 12px;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px){


  .texto{
    font-size: 3.5em;
  }

  .figura{
  @include Psup_Figura;
  }
  .contFug{
    padding-top: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 899px) {

  .texto {
    font-size: 3.5em;
  }
  .figura {

  @include Psup_Figura;
  }
  .texto2{
    width: 80%;
  }
  .contFug{
    padding-top: 12px;
  }

}

@media screen and (min-width: 900px) and (max-width: 1199px){

  .texto {
    font-size: 3.5em;
  }
  .figura {

    @include Psup_Figura;
  }
  .texto2{
    width: 75%;
  }
  .contFug{
    padding-top: 12px;
  }
}


@media screen and (min-width: 1200px) {

  .texto {
    font-size: 4em;
  }
  .figura {

    @include Psup_Figura;
  }
  .texto2{
    width: 65%;
  }
  .contFug{
    padding-top: 12px;
  }
}